<section style="position: static;" id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Dashboard">
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        <title>DASHGUM - Bootstrap Admin Template</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!--external css-->
        <link href="/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/products" class="logo"><b>Admin Website</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="/admin/home-admin"><img src="/images/ui-sam.png" class="img-circle"
                            width="200"></a></p>
                <h5 class="centered">Admin </h5>
                <li class="active" class="sub-menu">
                    <a href="/admin/home-admin">
                        <i class="fa fa-desktop"></i>
                        <span>Danh sách khách hàng</span>
                    </a>
                </li>
                <li class="active" class="sub-menu">
                    <a href="/admin/charList">
                        <i class="fa fa-bars"></i>
                        <span>Danh sách nhân vật</span>
                    </a>
                </li>
                <li class="active" class="sub-menu">
                    <a href="/admin/spellList">
                        <i class="fa fa-plus"></i>
                        <span>Danh sách spell</span>
                    </a>
                </li>
                <li class="active" class="sub-menu">
                    <a href="/admin/statistic">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Thống kê</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <div style="position: absolute; top: 120px; left: 230px;" class="content">
        <div style="width: 1000px" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8" style="display: inline-block;">
                            <h2>Danh sách <b>Nhân Vật Sở Hữu</b> user {{user.username}}</h2>
                        </div>
                        <div class="col-sm-4">
                            <form action="/admin/{{UID}}/addCharOwn" method="get" role="form">
                                <button style="margin-top: 15px; margin-left: 203px; width: 100px;"
                                    class="btn btn-theme btn-block" type="submit"><i class="fa fa-plus"></i>Thêm
                                    Mới</button>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 40px;">Tên nhân vật</th>
                            <th style="width: 200px;">Cấp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each charOwns}}
                        <tr>
                            <td>{{this.characterID.name}}</td>
                            <td>{{this.levelID.level}}</td>
                            <td>
                                <form action="/admin/{{this._id}}/charOwnEdit" method="get" role="form">
                                    <button class="btn btn-theme btn-block" type="submit"></i>Chỉnh sửa</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/{{this._id}}/charOwnDelete/{{this.userID._id}}" method="post" role="form">
                                    <button class="btn btn-theme btn-block" type="submit"></i>Xóa</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>