<section style="position: static;" id="container">
  <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="/products" class="logo"><b>Admin Website</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="/admin/logout-admin">Logout</a></li>
      </ul>
    </div>
  </header>
  <!--header end-->

  <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="profile.html"><img src="/images/ui-sam.png" class="img-circle" width="60"></a></p>
        <h5 class="centered">Admin</h5>
        <li class="active" class="sub-menu">
          <a href="/admin/home-admin">
            <i class="fa fa-desktop"></i>
            <span>Danh sách khách hàng</span>
          </a>
        </li>
        <li class="active" class="sub-menu">
          <a href="/admin/charList">
            <i class="fa fa-bars"></i>
            <span>Danh sách nhân vật</span>
          </a>
        </li>
        <li class="active" class="sub-menu">
          <a href="/admin/spellList">
            <i class="fa fa-plus"></i>
            <span>Danh sách spell</span>
          </a>
        </li>
        <li class="active" class="sub-menu">
          <a href="/admin/statistic">
            <i class="fa fa-bar-chart-o"></i>
            <span>Thống kê</span>
          </a>
        </li>
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content" style="margin-bottom: 50px;">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Thông tin spell sở hữu</h3>

      <!-- BASIC FORM ELELEMNTS -->
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Thông tin spell user {{spellOwn.userID.username}}</h4>
            <form action="/admin/{{spellOwn._id}}/spellOwnEdit" method="post" role="form">
              <input class="form-control" type="hidden" name="spellName" id="spellName" value="{{spellOwn.spellID.name}}"
                placeholder="Tên spellt">
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Tên spell</label>
                <div class="col-sm-10">
                  <input disabled class="form-control" type="text"
                    value="{{spellOwn.spellID.name}}" placeholder="Tên spell">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Số lượng</label>
                <div class="col-sm-10">
                  <input class="form-control" type="number" name="amount" id="amount" value="{{spellOwn.amount}}"
                    placeholder="Số lượng">
                </div>
              </div>
              <button class="btn btn-theme btn-block" type="submit"></i>Chỉnh sửa</button>
            </form>
            <form action="/admin/{{spellOwn.userID._id}}/spellOwn" method="get" role="form">
              <button class="btn btn-theme btn-block" type="submit"></i>Quay về</button>
            </form>
          </div>
        </div><!-- col-lg-12-->
      </div><!-- /row -->
    </section>