<section style="position: static;" id="container">
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Dashboard">
        <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        <title>DASHGUM - Bootstrap Admin Template</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <!--external css-->
        <link href="/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="icon" href="/images/logO.png">
        <!-- Custom styles for this template -->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/style-responsive.css" rel="stylesheet">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/admin/home-admin" class="logo"><b>Admin Website</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/admin/logout-admin">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="/admin/home-admin"><img src="/images/ui-sam.png" class="img-circle"
                            width="200"></a></p>
                <h5 class="centered">Admin </h5>
                <li class="active" class="sub-menu">
                    <a class="active" href="/admin/home-admin">
                        <i class="fa fa-desktop"></i>
                        <span>Danh sách người chơi</span>
                    </a>
                </li>
                <li class="active" class="sub-menu">
                    <a href="/admin/charList">
                        <i class="fa fa-bars"></i>
                        <span>Danh sách nhân vật</span>
                    </a>
                </li>
                <li class="active" class="sub-menu">
                    <a href="/admin/spellList">
                        <i class="fa fa-plus"></i>
                        <span>Danh sách spell</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <div style="position: absolute; top: 120px; left: 230px;" class="content">
        <div style="width: 1000px" class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8" style="display: inline-block;">
                            <h2>Danh sách <b>Người chơi</b></h2>
                        </div>
                    </div>
                </div>
                <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                        <div class="col-sm-20">
                            <input id="searchValue" type="text" class="" value="{{searchValue}}">
                            <button onclick="search()">Tìm kiếm</button>
                        </div>
                    </ul>
                </div>
                <br>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 40px;">STT</th>
                            <th style="width: 200px;">Tài khoản</th>
                            <th style="width: 200px;">Tên người chơi</th>
                            <th style="width: 80px;">Gem</th>
                            <th style="width: 80px;">Gold</th>
                            {{!-- <th>Trạng thái</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.index}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.gem}}</td>
                            <td>{{this.gold}}</td>
                            <td>
                                <form action="/admin/{{this._id}}/charOwn" method="get" role="form">
                                    <button class="btn btn-theme btn-block" type="submit"></i>Danh sách nhân
                                        vật</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/{{this._id}}/spellOwn" method="get" role="form">
                                    <button class="btn btn-theme btn-block" type="submit"></i>Danh sách spell</button>
                                </form>
                            </td>
                            <td>
                                <form action="/admin/{{this._id}}/userEdit" method="get" role="form">
                                    <button class="btn btn-theme btn-block" type="submit"></i>Nạp tiền</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    // http://localhost:3000/owner/home-owner/${username}
    const search = () => {
        const searchValue = document.getElementById("searchValue").value
        window.location.href = `http://localhost:3000/admin/home-admin/${searchValue}`;
    }

</script>